.CardTotals_SubTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.CardTotals_Shipping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.CardTotals_Discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.CardTotals_Tax{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.CardTotals_Total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}