.HomeSection1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.HomeSection1_Left{
    margin-right: 12px;
    margin-left: 12px;
}
.HomeSection1_Right{
    margin-right: 12px;
    margin-left: 12px;
}
.HomeSection1_Right_PartOne{
    margin-bottom: 24px;
}