.CardProductStyle2{
    position: relative;
    padding: 16px;

    .CardProductStyle2_Img{
        width: 216px;
        height: 188px;
        margin-bottom: 8px;
    }

    .Price{
        display: flex;
        align-items: center;
        margin: 8px 8px 8px 0px;

        p{
            margin-left: 4px;
            margin-right: 4px;
        }
    }

    .CardProductStyle2_Hover{
        display: none;
    }

    &:hover .CardProductStyle2_Hover{
        position: absolute;
        top: 16px;
        right: 16px;  
        width: 216px;
        height: 188px;
        background-color: #00000020;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .CardProductStyle2_Badge{
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 800;
        
        .CardProductStyle2_Activ{
            margin-bottom: 2px; 
        }
    }
}