@mixin Center($Space){ 
    display: flex;
    justify-content:#{$Space};
    align-items: center;
}

.SopeSection1{
    display: flex;
    justify-content: space-evenly;

    .SopeSection1_Aside{
        margin: {
            top: 40px;
        }
        .SopeSection1_Aside_Part1{
            margin: {
                bottom: 24px;
            }
            p{
                margin: {
                    bottom: 16px;
                }
            }
            div{
                margin: {
                    bottom: 12px;
                }
            }
        }

        .SopeSection1_Aside_Part2{
            margin: {
                bottom: 24px;
            }
            p{
                margin: {
                    bottom: 16px;
                }
            }
            div{
                margin: {
                    bottom: 12px;
                }
            }
        }

        .SopeSection1_Aside_Part3{
            margin: {
                bottom: 24px;
            }
            p{
                margin: {
                    bottom: 16px;
                }
            }
            div{
                margin: {
                    bottom: 12px;
                }
            }
        }

        .SopeSection1_Aside_Part4{
            margin: {
                bottom: 24px;
            }
            p{
                margin: {
                    bottom: 16px;
                }
            }
            div{
                margin: {
                    bottom: 12px;
                }
            }
        }


    }
    .SopeSection1_Content{
        margin: {
            top: 40px;
            bottom: 72px;
        }
    }
    .SopeSection1_Content_Part2{
        background-color: #F2F4F5;
        height: 44px;
        margin: {
            top: 16px;
            bottom: 24px;
        }
        @include Center(space-between);

        .SopeSection1_Aside_Part2_Left{
            margin: {
                right: 24px;
                left: 24px;
            }
            @include Center(space-evenly);

            .SopeSection1_Aside_Part1_Left_ActiveFilterd{
                @include Center(center);
                margin: {
                    right: 16px;
                    left: 16px;
                }
                
                p img{
                    margin: {
                        right: 5px;
                        left: 5px;
                        bottom: -2px;
                    }
                }
            }
        }
        
        .SopeSection1_Aside_Part2_Right{
            margin: {
                right: 24px;
                left: 24px;
            }
            @include Center(space-evenly);
            
            p{
                margin: {
                    right: 3px;
                    left: 3px;
                }
            }
        }
    }

    .SopeSection1_Break{
        width: 312px;
        height: 1px;
        background-color: #C9CFD2;
        margin: {
            top: 24px;
            bottom: 24px;
        }
    }
    
    .SopeSection1_Content_Part3{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 16px;
    }
    .SopeSection1_Content_Part4{
        @include Center(center);
        
        .SopeSection1_Content_Part4_Button{
            @include Center(center);
    
            p{
                text-align: center;
            }
        }
    }

}
