.CardFeatures{
    display: flex;
    align-items: center;
    padding: 24px 12px 24px 12px ;
}
.CardFeatures_Left img{
    width: 40px;
    height: 40px; 
    margin-right: 16px;
}
.CardFeatures_Right p{
    margin-bottom: 4px;
}
