.Category{
    position: relative;
    z-index: 999;
}
.Category_Display_One{
    position: absolute;
    top: 65px;
    overflow: scroll;
    scrollbar-width: none;
    height: 400px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.Category_Display_One .Category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 240px;
    height: 36px;
}
.Category_Display_One .CaretRightCategory{
    display: none;
    
}
.ActivCategoryFalse:hover .CaretRightCategory{
    display: block ;
}
.ActivCategoryFalse:hover{
    background-color: #F2F4F5 ;
    color: #191C1F ;
}
.ActivCategoryTrue:hover{
    background-color: #FFF3EB ;
}
/* ////////////////////Category_Display_Tow///////////////////////// */
.Category_Display_Tow{
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    /* It's In Global Style */
    /* position: absolute;
    top: 65px;
    left: 270px; */

}
.Category_Display_Tow_Part1{
    overflow: scroll;
    scrollbar-width: none;
    height: 396px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.Category_Display_Tow_Part1 .MainHeader{
    display: flex;
    align-items: center;
    width: 164px;
    height: 36px; 
    padding-left: 14px;
}
.Category_Display_Tow_Part1 .Products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
    width: 164px;
    height: 36px; 
}
.Category_Display_Tow .CaretRightProducts{
    display: none;
 
 }
.ActivProductsFalse:hover .CaretRightProducts{
     display: block ;
 }
.ActivProductsFalse:hover{
    background-color: #F2F4F5 ;
    color: #191C1F ;
}
.ActivProductsTrue:hover{
    background-color: #FFF3EB ;
}
.Category_Display_Tow_Part2{
    overflow: scroll;
    scrollbar-width: none;
    height: 384px;
    padding-top: 20px;
    margin-bottom: 32px;
    margin-left: 12px;
}
.Category_Display_Tow_Part2 p{
    margin-bottom: 16px;
}
.Category_Display_Tow_Part2_Card{
    margin-bottom: 16px;
}
.Category_Display_Tow_Part3_Banner{
    margin: 20px 20px 32px 20px;
}

@media screen and (max-width:900px) {
    /* .Category .Category_Button{
        /* It's In Global Style */
        /* position: absolute;
        right: 500px; 
       
    } */
     
    .Category_Display_One{
        height: 350px;
        /* left: 400px; */
    }

}

