.WidgetS2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.WidgetS2_Left_Img{
    width: 160px;
    height: 160px;
}
.WidgetS2_Right_ProductNames{
    margin-bottom: 12px;
}
.WidgetS2_Right_Price{
    margin-bottom: 20px;
}