.BCAddToCart{
    display: grid;
    place-items: center;

    &:hover{
        transition: 0.5s ease;
        transform: scale(1.2); 
    }
    
    img{
        width: 24px;
        height: 24px; 
    }
}
